# Sistema operativo.
# Operating systems.
Thumbs.db
desktop.ini
.DS_Store
.Spotlight-V100
.Trashes
._*

# Editores.
# Editors.
.idea
.vscode
rest-client.env.json

# LOOM.
# LOOM.
.env
/temp/*
!/temp/.empty
