#@es Sistema operativo.
#@en Operating systems.
Thumbs.db
desktop.ini
.DS_Store
.Spotlight-V100
.Trashes
._*

#@es Editores.
#@en Editors.
.idea
.vscode
rest-client.env.json

#@es LOOM.
#@en LOOM.
.env
/temp/*
!/temp/.empty
